
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>notify</title>
</head>
<body>
    <div>

    </div>
</body>
<script src="~/Scripts/notify.min.js"></script>
<script>
        $(document).ready(function () {
            $.notify("Testing on notify JS_week05_suki_31153291", "success");

        });
</script>
</html>
